annotated-types
anyio
certifi
click
fastapi
google-generativeai
python-dotenv
h11
httpcore
httpx
idna
iniconfig
Jinja2
packaging
pluggy
pydantic
pydantic_core
Pygments
pytest
pytest-asyncio
python-dateutil
setuptools
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
validators
WeasyPrint
wheel
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
python-multipart